@import 'styles/utils/variables.scss';

.passwordCard {
  margin: 0 auto;
  width: 30%;
  background: $bg-color-primary;
  border-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);

  @media (max-width: $md-desktop-width) {
    width: 60%;
  }

  @media (max-width: $table-width) {
    width: 80%;
  }

  @media (max-width: $phone-width) {
    width: 100%;
  }
}

.wrap {
  padding: 41px 30px 30px;
}

.fieldset {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: 0;
}

.labelSpan {
  margin-bottom: 5px;
  display: inline-block;
}

.inputWrap {
  margin-bottom: 10px;
}
