.main {
  background: url('/room-interior.jpg') no-repeat;
  background-position: center -70px;

  @media (min-width: 1440px) {
    background-size: cover;
  }
}

.wrap {
  display: flex;
  justify-content: center;
}
