@import 'styles/utils/variables.scss';
@import 'styles/utils/functions.scss';

.indexBlock {
  height: 830px;
  background-image: url('/interior.jpg');
  background-repeat: no-repeat;
  background-position: center -69px;

  @media (min-width: $desktop-width) {
    background-size: cover;
  }
}

.wrap {
  position: relative;
  padding-top: 70px;
  min-height: 830px;
}

.slogan {
  position: absolute;
  right: 4px;
  bottom: 25px;
  width: 297px;

  @media (max-width: 425px) {
    right: 24px;
  }

  p {
    margin: 0;
    font-size: rem(14);
    line-height: rem(24);
    text-align: right;
    color: transparentize($text-color, 0.25);
  }
}
