@import 'styles/utils/variables.scss';
@import 'styles/utils/functions.scss';

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.item {
  margin-right: rem(24);

  &:last-child {
    margin-right: 0;
  }
}

.link {
  .icon {
    transition: fill 0.4s ease;
  }

  &:hover {
    .icon {
      fill: darken($text-color, 10%);
    }
  }
}
